body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f5f5f5
}

.btn{
    color: white;
    background-color: rgb(212, 212, 19);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 12px;
    margin-right: 400px;
    
}
.conversor-imagen{
    width: 150px;
}

.moneda{
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.moneda select{
    padding: 10px 20px 10px 10px;
    appearance: none;
    border: 1px solid rgb(231, 219, 219);
    font-size: 16px;
}

.moneda input{
    border: 0;
    font-size: 30px;
    text-align: right;
}

.TazaDeCambio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cambio{
    font-size: 14px;
    padding: 0 10px;
}

select:focus, input:focus, button:focus{
    outline: 0;
}

@media (max-width:600px){
    .moneda input{
        width: 200px;
    }
}
